html {
    background-color: #EDEEF0;
}

.app-wrapper {
    max-width: 1800px;
    min-height: 920px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    "header header"
    "navbar content"
    "footer footer";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr 11fr;
    grid-gap: 10px;
}