html {
    background-color: #EDEEF0;
}

.app-wrapper {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    "header header"
    "navbar content"
    "footer footer";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 4fr 8fr;
    grid-gap: 10px;
}